---
layout: default
title: 'Bienvenido'
---

<div class="navbar navbar-default  navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row text-justify">
  {% for collection in site.collections %}
    {% if collection.main == 1 %}
      <div class="col-md-6">
        <h2>{{ collection.title }}</h2>
        <p>{{ collection.description }}</p>
        <p><a href="/EAFIT/{{ collection.label }}.html" class="btn btn-info" role="button">Ver Curso</a></p>
      </div>
    {% endif %}
  {% endfor %}
</div>
  </div><!--/.container -->
</div><!--/.navbar -->
